.outer-container {
  display: flex;
}

/* could the form containers be combined? */

.personal-details-container {
  display: flex;
  flex-direction: column;
}

.education-container {
  display: flex;
  flex-direction: column;
}

.experience-container {
  display: flex;
  flex-direction: column;
}

.cv-template-container {
  border: 2px solid black;
  width: 800px;
  height: 1000px;
}

.cv-template-top {
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-weight: bold;
}

.personal-info-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.cv-header {
  background-color: lightgray;
}

.company-start-end-date,
.school-start-end-date {
  display: flex;
}

.company-name,
.school-name {
  margin-right: 20px;
}

.start-date {
  margin-right: 5px;
}

.job-title,
.degree {
  margin: 0;
}

.cv-experience-container,
.cv-education-container {
  padding-left: 10px;
  padding-right: 10px;
}
