.outer-container {
  display: flex;
  margin-left: 20px;
}

/* could the form containers be combined? */

.personal-details-container {
  display: flex;
  flex-direction: column;
}

.education-container {
  display: flex;
  flex-direction: column;
}

.experience-container {
  display: flex;
  flex-direction: column;
}

.cv-template-container {
  border: 2px solid black;
  width: 800px;
  height: 1000px;
  margin-left: 100px;
}

.cv-template-top {
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-weight: bold;
}

.personal-info-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.cv-header {
  background-color: lightgray;
}

.company-start-end-date,
.school-start-end-date {
  display: flex;
}

.company-name,
.school-name {
  margin-right: 20px;
}

.start-date {
  margin-right: 5px;
}

.job-title,
.degree {
  margin: 0;
}

.cv-experience-container,
.cv-education-container {
  padding-left: 10px;
  padding-right: 10px;
}

/* FORM */

label {
  margin-bottom: 5px;
  font-family: "Manrope", sans-serif;
}

input,
select {
  background-color: #ffffff;
  width: 300px;
  padding: 7px;
  border-radius: 3px;
  font-size: 14px;
  border-color: #e5e7eb;
  display: flex;
  flex-direction: column;
}

textarea {
  display: flex;
  width: 300px;
  height: 200px;
}

button {
  width: 100px;
  color: lightblue;
  border: 2px solid black;
}
