.outer-container {
  display: flex;
  margin-left: 20px;
}

/* could the form containers be combined? */

.personal-details-container {
  display: flex;
  flex-direction: column;
}

.education-container {
  display: flex;
  flex-direction: column;
}

.experience-container {
  display: flex;
  flex-direction: column;
}

.cv-template-container {
  border: 2px solid black;
  width: 800px;
  height: 1000px;
  margin-left: 100px;
  margin-top: 20px;
}

.cv-template-top {
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-weight: bold;
}

.personal-info-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.cv-header {
  background-color: lightgray;
}

.cv-name {
  font-size: 40px;
}

.personal-data {
  font-size: 20px;
}
.company-start-end-date,
.school-start-end-date {
  display: flex;
}

.company-name,
.school-name {
  margin-right: 20px;
}

.start-date {
  margin-right: 5px;
}

.job-title {
  margin: 0;
}

.cv-experience-container,
.cv-education-container {
  padding-left: 10px;
  padding-right: 10px;
}

.degree-classification {
  display: flex;
}

.degree {
  margin-right: 10px;
}

.degree,
.classification {
  margin-top: 0;
}
/* FORM */

label {
  margin-bottom: 5px;
  font-family: "Manrope", sans-serif;
}

input,
select {
  background-color: #ffffff;
  width: 300px;
  padding: 7px;
  border-radius: 3px;
  font-size: 14px;
  border-color: #e5e7eb;
  display: flex;
  flex-direction: column;
}

textarea {
  display: flex;
  width: 300px;
  height: 200px;
}

/* CSS */
button {
  background-image: linear-gradient(#42a1ec, #0070c9);
  border: 1px solid #0077cc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  direction: ltr;
  display: block;
  font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -0.022em;
  line-height: 1.47059;
  min-width: 30px;
  overflow: visible;
  padding: 4px 15px;
  text-align: center;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  width: 100px;
}

button:disabled {
  cursor: default;
  opacity: 0.3;
}

button:hover {
  background-image: linear-gradient(#51a9ee, #147bcd);
  border-color: #1482d0;
  text-decoration: none;
}

button:active {
  background-image: linear-gradient(#3d94d9, #0067b9);
  border-color: #006dbc;
  outline: none;
}

button:focus {
  box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
  outline: none;
}
